
      p {
        font-family: Arial;
        margin-top: 0px;
      }
      
      .one {
    color:grey;
    margin-bottom: 5px;
      }
    
    strong{
      color:black;
    }
      
    .two{
    width: 500px;
    line-height: 26px;
      }
    
    span{
      color: blue;
    }
    